<mat-card class="example-card" >
  <div >
    <mat-card-title-group>
      <mat-card-title>IDDEES {{gasolineraInput.ideess}}</mat-card-title>
    </mat-card-title-group>
    <img class="img" src="https://i.blogs.es/24733b/gasolinera/1366_2000.jpg">
    <mat-card-content>
      <p>Localidad {{gasolineraInput.localidad}}</p>
      <p>Municipio {{gasolineraInput.municipio}}</p>
      <p>Precio Gasoleo A {{gasolineraInput.precioGasoleoA}}</p>
      <p>Provincia {{gasolineraInput.provincia}}</p>
      <p>Código Postal {{gasolineraInput.codigoPostal}}</p>
    </mat-card-content>
  </div>
</mat-card>
